.feedback {
  position: relative;
  background-color: $color-blue;
  padding: 92px 0 112px;
  background-image: url("../img/airplane@1x.png"), url("../img/icon/triangle.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: calc(50% - 355px)  161px, calc(50% - 449px) -60px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/airplane@2x.png"), url("../img/icon/triangle.svg");
    background-size: 511px, auto;
  }

  @media (max-width: $tablet-width) {
    padding: 80px 0 104px;
    background-image: none;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 0 42px;
  }
}

.feedback__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 1225px;
  padding: 0 28px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding: 0;
  }
}

.feedback__form {
  position: relative;
  width: 570px;
  min-height: 461px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
  z-index: 1;

  & h2 {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    color: $color-white;
    width: 100%;
    margin: 0;
    margin-left: -4px;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;
    margin: 10px 0 51px;
    width: 100%;
  }

  & input:not([type="checkbox"]) {
    background-color: rgba($color-white, 0.1);
    padding: 14px 16px;
    width: 270px;
    height: 50px;
    border: none;
    color: $color-white;
    border-radius: 0;

    &:hover,
    &:focus {
      border: 1px solid rgba($color-white, 0.7);
      padding: 13px 15px;
    }

    &::placeholder {
      color: $color-white;
    }
  }

  & textarea {
    resize: none;
    width: 100%;
    min-height: 154px;
    background-color: rgba($color-white, 0.1);
    border: none;
    padding: 13px 16px;
    margin-top: 40px;
    color: $color-white;
    border-radius: 0;
    margin-bottom: 43px;

    &:hover,
    &:focus {
      border: 1px solid rgba($color-white, 0.7);
      padding: 12px 15px;
    }

    &::placeholder {
      color: $color-white;
    }
  }

  & button {
    font-family: "RobotoCondensed", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 14px 18px;
    width: 270px;
    min-height: 45px;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-blue;
    }

    &:active {
      opacity: 0.7;
    }
  }

  & label[for="doc"] {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    color: rgba($color-white, 0.8);
    padding-left: 40px;
    padding-top: 8px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: rgba($color-white, 1);
    }

    &:active {
      color: rgba($color-white, 0.5);
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 8px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: 1px solid $color-white;
    }
  }

  & input[type="checkbox"] {
    position: absolute;
    bottom: 0;
    right: 5px;
  }

  & input[type="checkbox"]:focus + label[for="doc"] {
    outline: 1px solid black;
    color: rgba($color-white, 1);
  }

  & input[type="checkbox"]:checked + label[for="doc"] {
    &::before {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 2L3.5 5L8 0.5' stroke='white'/%3E%3C/svg%3E");
    }
  }

  & div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 591px;
    margin-left: 4px;

    & h2 {
      font-size: 32px;
      line-height: 45px;
      margin-left: -4px;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      margin: 15px 0 55px;
    }

    & input:not([type="checkbox"]) {
      width: 280px;
    }

    & textarea {
      margin-top: 43px;
      margin-bottom: 45px;
      min-height: 159px;
    }

    & button {
      width: 280px;
    }

    & label[for="doc"] {
      width: 280px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding: 0 15px;
    margin-left: 0;

    & div {
      flex-direction: column-reverse;
    }

    & h2 {
      font-size: 28px;
      line-height: 39px;
      margin: 0;
    }

    & p {
      font-size: 16px;
      line-height: 22px;
      margin: 13px 0 26px;
    }

    & input:not([type="checkbox"]) {
      width: 100%;
      margin-bottom: 32px;
    }

    & textarea {
      margin-top: 0;
      margin-bottom: 30px;
      width: 100%;
      min-height: 104px;
    }

    & button {
      width: 100%;
    }

    & label[for="doc"] {
      width: 100%;
      margin-top: 23px;
      padding-left: 34px;

      &::before {
        left: 0;
        width: 17px;
      }
    }
  }
}

.feedback__form--error {
  box-shadow: 0 2px 0 $color_blue;
}
