.general {
  min-height: 877px;
  background-color: $color-dark-blue;
  color: $color_white;
  padding-top: 314px;
  background-image: url("../img/card-desktop@1x.png"), url("../img/icon/triangle.svg"), url("../img/head-bg-desktop@1x.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: calc(40% + 552px) 258px, calc(40% + 530px) 118px, center;
  background-size: auto, auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/card-desktop@2x.png"), url("../img/icon/triangle.svg"), url("../img/head-bg-desktop@1x.png");
    background-size: 705px, auto, cover;
  }

  @media (max-width: $tablet-width) {
    padding-top: 188px;
    min-height: 686px;
    background-position: calc(50% + 359px) 113px, calc(50% + 305px) -25px, center;
    background-size: 466px, 484px, cover;
  }

  @media (max-width: $mobile-width) {
    padding-top: 286px;
    min-height: 646px;
    background-position: calc(50% + 16px) 92px, calc(50% + 226px) -36px, center;
    background-size: 300px, 460px, cover;
  }
}

.general__wrapper {
  max-width: 1470px;
  padding: 0 24px;

  @media (max-width: $tablet-width) {
    padding: 0 88px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.general__block {
  margin-right: 450px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-right: 130px;
    max-width: 470px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    max-width: none;
  }
}

.general__title {
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 28px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27px;
  }
}

.general__paragraph {
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  margin-left: 98px;
  max-width: 630px;
  position: relative;

  @media (max-width: $tablet-width) {
    margin-left: 51px;
    font-size: 18px;
    line-height: 28px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
  }

  &::before {
    content: "";
    width: 66px;
    height: 2px;
    position: absolute;
    top: 17px;
    left: -94px;
    background-color: $color_white;

    @media (max-width: $tablet-width) {
      width: 33px;
      left: -48px;
      top: 16px;
    }

    @media (max-width: $mobile-width) {
      top: 15px;
    }
  }
}

.general__button {
  width: 407px;
  height: 55px;
  background-color: $color_blue;
  border-radius: 5px;
  border: none;
  margin-left: 97px;
  margin-top: 44px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color_white;
  display: block;
  padding: 10px;
  padding-top: 17px;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    margin-left: 51px;
    margin-top: 55px;
    width: 379px;
  }

  @media (max-width: $mobile-width) {
    width: 287px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.general__button-long {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.general__button-short {
  display: none;

  @media (max-width: $mobile-width) {
    display: inline;
  }
}

.general__link-down {
  position: absolute;
  bottom: -148px;
  left: -34px;
  font-size: 14px;
  line-height: 16px;
  color: $color_white;
  opacity: 0.5;
  transform: rotate(-90deg);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color_blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
