.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($color-black, 0.5);
  height: 100vh;
  display: none;
  z-index: 1;

  &--active {
    display: block;
  }
}
