$color-blue: #00b2ff;
$color-dark-blue: #1b2d37;
$color-dl-blue: #203c42;
$color-white: #ffffff;
$color-icon: #cdcdcd;
$color-grey: #788891;
$color-light-grey: #c4c4c4;
$color-dark-gray: #353735;
$color-light-white: #fafafa;
$color-white-gray: #ebebeb;
$color-dull-gray: #666666;
$color-black: #000000;

$tablet-width: 1023px;
$mobile-width: 767px;
$min-width: 320px;
